<!doctype html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Validación</title>
    <script src="https://www.google.com/recaptcha/enterprise.js?render=6LfbgsMtAAAAAKBnPVllt4_PAvTu6EFp5VhYenMk"></script>
</head>
<body>
<main>
    <h1>Validaremos tu captcha</h1>

    <form id="captcha-form" th:action="@{/validar-captcha}" method="post">
        <input type="hidden" name="hashUid" th:value="${hashUid}">
        <input id="captcha-hash" type="hidden" name="captchaHash">
    </form>
</main>

<script>


    window.onload = ()=>{
        setTimeout(()=>{
            grecaptcha.enterprise.ready(async () => {
                const token = await grecaptcha.enterprise.execute('6LfbgsMtAAAAAKBnPVllt4_PAvTu6EFp5VhYenMk', {action: 'DOWNLOAD_FILE'});
                document.getElementById('captcha-hash').value = token;
                document.getElementById('captcha-form').submit();
            });
        },3000)
    }

</script>
</body>
</html>
